# Data
2022/genuary2022.svg
2022/genuary2022.mp4
2022/genuary2022.gif
2022/data/
2022/art/05_anim.zip
2022/art/05_square.mp4
2022/art/09_architecture.mp4
2022/art/10_anim.zip
2022/art/10_ML.mp4
2022/art/18_anim.zip
2022/art/18_VHS.mp4
2022/art/22_different_in_a_year.mp4
2022/art/22_different_in_a_year.gif
2022/art/27_anim.zip
2022/art/27_colours.mp4
2022/art/29_anim.zip
2022/art/29_isometric_perspective.mp4

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/
genuary.Rproj

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron
